.products__container {
  padding: 0;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.product__single {
  height: 16rem;
  padding: 1rem;
  list-style: none;
  background-color: rgb(220, 220, 220);
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.product__single > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 0.25rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.85rem;
}

.pagination > span {
  padding: 1rem 1.5rem;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination__number {
  background-color: #ffffff;
}

.pagination__number--active {
  background-color: #dadada;
  /* color: white; */
}

.pagination_disabled {
  opacity: 0;
}

.loader {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}