* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.game {
    width: calc(3*100px);
    margin: 0 auto;    
    text-align: center;
    padding: 20px;
}

.status{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.cell { 
    border: 1px solid #ccc;
    width: 100px;
    padding: 10px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
    background-color: #f5f5f5;
}

.status > button {
    color: white;
    background-color: tomato;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    width: 20%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}